@font-face {
  font-family: myFont;
  src: url("Shooting\ Star.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: myFont;
  color: black;
  /* flex-wrap: wrap; */
}
.numbers,
.operators {
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  box-shadow: 2px 1px #3f1d40;
}

.container {
  max-width: 415px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 10px;
  box-shadow: 5px 1px #3f1d40;
  border: 5px solid #3f1d40;
  border-radius: 15px;
}

.numbers {
  background-color: #834283;
  padding: 15px;
  border-radius: 15px;
}
.number,
.clear,
.operator,
.backspace {
  display: flex;
  flex-grow: 1;
  max-width: 90px;
  /* height: 100px; */
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  font-size: 18px;
  background-color: white;
  font-family: myFont;
  margin: 2px;
  box-shadow: 5px 1px #3f1d40;
  border: none;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
}

.result {
  flex-grow: 2;
  max-height: 90px;
  flex-wrap: wrap;
  border-radius: 50px;
  font-size: 18px;
  background-color: white;
  font-family: myFont;
  margin: 2px;
  box-shadow: 5px 1px #3f1d40;
  border: none;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
}

.break {
  height: 0;
  flex-basis: 100%;
}

.display {
  margin-bottom: 30px;
  min-height: 76px;
  width: 400px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  padding: 10px;
  margin: 0px;
  align-items: center;
  overflow: scroll;
}

.display::-webkit-scrollbar {
  display: none;
}

.display-container {
  display: flex;
  justify-content: end;
}

.number:hover,
.clear:hover,
.result:hover,
.operator:hover,
.backspace:hover {
  background-color: #f0d8f0;
}

.number:active,
.result:active,
.clear:active,
.operator:active,
.backspace:hover {
  background-color: #bd7cbd;
}

.error-container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.error-display {
  min-width: 200px;
  height: 44px;
  flex-wrap: wrap;
  text-align: start;
  font-size: 20px;
  color: #834283;
  padding-left: 10px;
  transition-delay: 250ms;
  transition-property: all;
}

.zero {
  flex-grow: 2;
}
